@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,200;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: poppins , sans-serif;
}

body {
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.container {
    display: block;
    background-color: white;
    padding: 20px;
    height: auto;
    width: 400px;
    line-height: 30px;
    border-radius: 8px;
    box-shadow: 1px 1px 2px #333;
}

main h2 {
    margin-bottom: 2rem;
    font-weight: 600;
    position: relative;
}

main h2::after {
    content: '';
    position: absolute;
    height: 1.5px;
    width: 15px;
    bottom: 3px;
    left: 0;
    border-radius: 8px;
    background: #e70707;
}

form {
    display: flex;
    flex-direction: column;
}

.input-field {
    position: relative;
}

.input-field:first-child {
    margin-bottom: 1.5rem;
}

.input-field .underline::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}

.input-field .underline::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: rgba(34,193,195,1);
    transform: scaleX(0);
    transition: all .3s ease-in-out;
    transform-origin: left;
}

input:focus ~ .underline::after {
    transform: scaleX(1);
}

.input-field input {
    border: white;
    outline: none;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.7);
    width: 100%;
}

.input-field input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.btn {
    margin-top: 2rem;
    padding: 0.4rem;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgb(3, 0, 27) 100%);
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-size: 12px;
    font-weight: 300;
    transition: all 0.3s ease;
}

.btn:hover {
    letter-spacing: 0.5px;
    background: linear-gradient(0deg, rgb(3, 0, 27)0%, rgba(34,193,195,1)100%);
}

.btn:disabled {
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(3, 0, 27, 0.6) 100%);
    cursor: auto;
    letter-spacing: normal;
}

.footer {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.footer span {
    color: black;
    font-size: 1rem;
    text-align: center;
}

.social-field {
    padding: 00.4rem;
    border-radius: 4px;
    font-size: 0.85rem;
    width: 100%;
    cursor: pointer;
    margin-top: 1rem;
}

.social-field a i {
    margin: 5px
}

.social-field a {
    text-decoration: none;
    color: white;
}

.social-field.twitter {
    background: rgba(34,193,195,1);
}

.social-field.facebook {
    background: rgb(3, 0, 27);
}

.social-field.google {
    background: #e70707;
}

#messageName, #messagePass {
    color: #f00;
    font-size: 12px;
    font-weight: bold;
}