.logOut {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 100px;
    background: rgba(248, 228, 228, 0.6);
    border-radius: 5px;
    button {
        position: relative;
        margin-top: 3rem;
        width: 80px;
        height: 25px;
        border-radius: 5px;
        color: $primary-color;
        font-size: 1.4rem;
        background: $bg-color;
        cursor: pointer;
    }
}